/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&display=swap');

h* {
    font-family: 'Lato', sans-serif;
}

/* responsive grid design, code from w3schools */
* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* home page */

#home-page-heading {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 300%;
}

#navbar li {
    float: left;
    list-style-type: none;
    padding-left: 28%;
    font-size: 175%;
}

#navbar a {
    text-decoration: none;
    border-bottom: 1px, solid;
    color: antiquewhite;
}

#navbar a:hover {
    color: rgb(55, 255, 0);
}

#main-heading-div {
    background-color: rgb(255, 0, 0);
}

#home-text-div {
    background-color: rgb(0, 110, 255);
}

.heading-h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}

h2,
p {
    font-family: 'Oswald', sans-serif;
    font-size: 125%;
    text-align: center;
}

#rules-list {
    font-family: 'Oswald', sans-serif;
    font-size: 125%;
}

#home-page-image {
    height: auto;
    width: 100%;
}

#home-image-div {
    background-color: rgb(0, 110, 255);
}

#home-section-div {
    background-color: rgb(0, 110, 255);
}

/* footer */

footer {
    position: sticky;
}

#footer-div {
    background-color: red;
}

#rules-button {
    font-size: 200%;
    margin-left: 40%;
}

#rules-div {
    background-color: rgba(0, 0, 0, 0.76);
    margin-left: 23%;
    color: antiquewhite;
    font-size: 1.2rem;
    visibility: hidden;
}

/* quiz page */

#quiz-background {
    background: url(../images/quiz-page-image.jpg);
    height: 1200px;
    width: 100%;
}
/* main game area will be hidden by default until a username has been submitted*/
#game-area {
    height: auto;
    background-color: rgba(0, 0, 255, 0.701);
    margin-top: 10rem;
    margin-left: 5rem;
    color: antiquewhite;
    font-size: 1.5rem;
    /* visibility: hidden; */
}

#username-area {
    background-color: rgba(0, 0, 0, 0.76);
    color: antiquewhite;
    text-align: center;
}

#quiz-question {
    text-align: center;
}

#scores-area {
    background-color: rgba(0, 0, 0, 0.76);
    color: antiquewhite;
    margin-top: 4rem;
    visibility: hidden;
}

#nextQ-div {
    float: right;
}

#nextQ-btn {
    float: right;
}

.btn:hover {
    background-color: rgb(55, 255, 0);
}

#nextQ-btn:hover {
    background-color: rgb(55, 255, 0);
}
